.jugador-list {
  width: min(1300px, 95%);
  margin: auto;
  padding: 40px 0;
}

.grid-jugadores {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  );
  gap: 20px;
  align-items: stretch;
}

.estado-contenedor {
  min-height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 15px;
}

.spinner {
  width: 60px;
  height: 60px;

  border: 6px solid #dbeafe;
  border-top: 6px solid #2563eb;

  border-radius: 50%;

  animation: girar 0.8s linear infinite;
}

@keyframes girar {
  to {
    transform: rotate(360deg);
  }
}

.error-box {
  color: white;
  background: #dc2626;
  padding: 15px 25px;
  border-radius: 10px;
}